
@font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Italic-VariableFont_wdth\,wght.ttf")
}

* {
  font-family: Roboto;
} 

body >div {
    padding: 2% 10%; 
}



.nav-bar {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;

}

.nav-links {
  

    display: flex;
    margin-left: auto;
    color: #E5E7EB
}

.nav-links > a {
    margin-right: 4%;
}

.intro-header {
    background-color: blue;
    display: flex;
    align-items: center;
    gap : 5px;
    flex : 1;
}

.website-desc {
    margin-right: auto;
}

.intro-header img {
    margin-left: auto;
}


.image-group-list {
    background-color: brown;
    display: flex;
    flex-direction: row;
}

.image-group{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.image-group p {
    width: 100px;
}


.sign-up-container {
    display: flex;
    background-color: aqua;
    flex : 1;
    padding: 3%;
    align-items: center;
}

.sign-up-btn {
    height: 50%;
    margin-left: auto;
}
