
@font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Italic-VariableFont_wdth\,wght.ttf")
}

* {
  font-family: Roboto;
} 

body >div {
    padding: 2% 10%; 
}

.hero-section ,
.nav-bar{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
}

.hero-signup-button {
    background-color: #3882f6;
    color: #F9FAF8;
    border: none;
    width: 24%;
    padding: 1%;
    font-weight: 1000;
    border-radius: 5px;
}

.quote-group {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    
}

.random-info-group {
        display: flex;
        flex-direction: column;
        align-items: center;
   
}

.random-info-header{
    text-align: center;
    font-family: Roboto;
    font-weight: 900;
}



.nav-bar {
    display: flex;
    flex: 1;
    align-items: baseline;
}

.header-logo {
    font-size: 24px;
    flex: 1;

    
}

.nav-links {
    flex: 1;
    width: 100%;
  
    display: flex;
    margin-left: auto;
    color: #E5E7EB
}

.nav-links > a {
    flex: 1;
    display: flex;
    justify-content: end;
}

.hero-main-text {
    font-size : 48px;
}
.hero-secondary-text{
    font-size : 18px;
}

.hero-section {
    display: flex;
    align-items: center;
    align-content: center;
    gap : 5px;
    flex : 1;
    padding: 10% ;
}

.website-desc {
    padding-right: 10%;
    flex : 1;
    color: #E5E7EB
}

.intro-header img {
    margin-left: auto;

    flex:1 ;
}


.image-group > img {
    border : 3px solid  #3882f6;
    border-radius: 15px;
}

.image-group > p {
    color: #686d75;
    font-size: 10px;
    
}

.image-group-list {
    
    display: flex;
    width: 500px;
    flex-basis: 100px;
    
    flex-direction: row;
}

.image-group{
    display: flex;
    flex-direction: column;
    flex : 1;
    align-items: center;
}

.image-group p {
    width: 100px;
}


.sign-up-container {
    display: flex;
    background-color: rgb(41, 127, 224);
    flex : 1;
    padding: 3%;
    align-items: center;
    color: #E5E7EB;
    border-radius: 15px;

}

.quote {
    font-size: xx-large;
    font-weight: 300;
}

.quote-author {
    margin-left: auto;
}



.footer-sign-up-button {
    height: 50%;
    margin-left: auto;
    border-color: rgb(255, 255, 255);
    border-width : thick;
    outline-style: solid;
}


.footer-main-text {
    font-size: 24px;
}